@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cuprum:ital,wght@0,400;0,700;1,500&display=swap');

// COLORES

$negro: #000000;
$blanco: #ffffff;
$grisOscuro: rgb(80, 74, 74);
$gris: grey;


// fuentes 

$fuente_principal: 'Bebas Neue', cursive;

$fuente_secundaria:  'Cuprum', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$verde: #71B100;
$amarillo:#ffbf00;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(151, 26, 26);

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;